.drop-files 
  border-width: 3px
  border-style: dashed
  border-color: #5fc2ff
  border-radius: 10px
  background-color: rgba(192,237,255,0.3)
  margin-top: 10%
  width: 80%
  padding-top: 5%
  padding-bottom: 10%

input[type="file"] 
  display: none

.upload-link 
  color: #0a78c9

.upload-link:hover 
  cursor: pointer

.upload-files-img 
  margin-top: 0

.progress-box 
  background-color: rgba(186,186,186,0.361)
  color: #4d4f57
  margin-top: 10%
  border-radius: 5px
  margin-left: 15%
  margin-right: 15%
  height: 30%

.in-progress 
  color: #0a78c9

.upload-success 
  color: #6acccb

.failed-upload 
  color: #f37070

.bg-in-progress 
  background-color: #0a78c9 !important

.bg-failed-upload 
  background-color: #f37070 !important

.inside-blue,
.inside-green,
.inside-red 
  padding: 1%

.bg-upload-success 
  background-color: #6acccb

.btn-upload 
  margin: 3% 40% 10% 46%
  padding: 0.5% 3%

.title 
  margin-top: 10%

h3 
  margin-left: 10%
  margin-bottom: 1%
  color: #404249

.file-name-box 
  background-color: rgba(186,186,186,0.361)
  color: #404249
  padding: 1%
  margin: 5% 10% 3% 10%
  border-radius: 5px

#file-name-text
  word-wrap:break-word

.delete-file 
  cursor: pointer

.success-icon 
  margin-left:20px;
  margin-right:3px;

#retry
  cursor pointer

.error-message
  word-wrap break-word;

.animated-progress
  height: 3px;

.failed-progress
  height:40px;

.loading-gif 
  animation-name: spin
  animation-duration: 2000ms
  animation-iteration-count: infinite
  animation-timing-function: linear

@-moz-keyframes spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
  
@-webkit-keyframes spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
  
@-o-keyframes spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)

@keyframes spin 
  from 
    transform: rotate(0deg)
  
  to 
    transform: rotate(360deg)
  

