table 
  margin-top 2%
  font-weight light

td
  word-wrap break-word;

.table th 
  border-top 1px solid transparent

.tr-blue :hover 
  background-color #C0EDFF

.expired 
  color #bababa


.show-files 
  margin-top 10%
